*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
  color: white;
}

html, body{
  height: 100%;
  width: 100%;
}
#cursor{
  height: 25px;
  width: 25px;
  background-color: #b8f60d;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  z-index: 1; /* cursor ke neeche, video ke upar */
  pointer-events: none; /* mouse events ignore kare */
  opacity: 0.5; /* soft glow */
  filter: blur(80px);
  position: fixed;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #16e60b6c;
}



/* #cursor-blur{
  height: 300px;
  width: 300px;
  background-color: #95C11E;
  border-radius: 50%;
  position: fixed;
  filter: blur(30px);
  z-index: 99;
 
} */




 #nav{
  height: 145px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 0 150px;
  gap: 50px;
  position: fixed;
  justify-content: flex-start;
  z-index: 99;
}

 #nav img{
  height: 80px;
}

#nav h4{
  text-transform: uppercase;

}
 video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  
}

#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.374);
}

#page1{
  height: 100vh;
  position: relative;
  /* background-color: rgb(203, 85, 12); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 0.9;

}

#page1 h1{
  font-size: 85px;
  font-weight: 800;
  position: relative;
}

#page1 h1::before{
  content: "EAT. DRINK. PLAY";
  position: absolute;
  color: #000;
  top: -9px;
  left: -9px;
  -webkit-text-stroke: 2px #95C11E;
  z-index: -1;
}

#page1 h2{
  font-size: 25px;
  font-weight: 500;
}

#page1 p{
  font-size: 20px;
  font-weight: 500;
  width: 40%;
} 

#page2{
  min-width: 100vh;
  width: 100%;
  z-index: 2;

}
#scroller{
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar{
  display: none;
}

#scroller-in{
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
/* #scroller-in-2{
  display: inline-block;
  white-space: nowrap;
} */

#scroller h4{
  display: inline-block;
  font-size: 90px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 10px;
  color: transparent;
  transition: all linear 0.4s;
  -webkit-text-stroke: 2px rgb(91, 230, 63);
}
#scroller h4:hover{
  color: #95C11E;
}


@keyframes scroll {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
}

#about-us{
  height: 40vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
#about-us img{
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;

}
#about-us-in{
  width: 50%;
  text-align: center;
}

#about-us-in h3{
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 40px;

}#about-us-in p{
  font-size: 20px;
  line-height: 26px;
}
#cards-container{
  /* background-color: red; */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 10;
}
.cards{
  height: 80%;
  width: 24%;
  background-color: aqua;
  border-radius: 20px;
}


#cards1{
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 #cards2{
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
 #cards3{
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay{
  height: 100%;
  width: 100%;
  background-color: #95C11E;
  padding-top: 100px;
  padding: 45px;
  border-radius: 20px;
  opacity: 9;
}
.overlay h4{
  font-size: 25px;
  color: #000;
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 800;
}

.overlay p{
  color: #000;

}
.overlay:hover{
  opacity: 1;
}
 

  